/* ID2MP specific devices */

&soc {
	gpio_keys {
		extra_button {
			label = "extra_button";
			gpios = <&tlmm 86 0x1>;
			linux,input-type = <1>;
			linux,code = <0x210>;
			debounce-interval = <15>;
			linux,can-disable;
			gpio-key,wakeup;
		};
	};
};

&tlmm {
	id2mpgpio_int_pin {
		label = "id2mpgpio-irq";
		id2mpgpio_int_active: id2mpgpio_int_active {
			mux {
				pins = "gpio9";
				function = "gpio";
			};

			config {
				pins = "gpio9";
				drive-strength = <6>;
				bias-pull-up;
			};
		};

		id2mpgpio_int_suspend: id2mpgpio_int_suspend {
			mux {
				pins = "gpio9";
				function = "gpio";
			};

			config {
				pins = "gpio9";
				drive-strength = <2>;
				bias-pull-down;
			};
		};
	};
};

&i2c_2 {
	status = "ok";

	bq25890: bq25890 {
		compatible = "ti,bq25890";
		reg = <0x6a>;
		interrupt-parent = <&tlmm>;
		/* edge high-to-low */
		interrupts = <94 0x02>;
		/*interrupts = <94 0x08>;*/

		ti,battery-regulation-voltage = <4208000>;
		ti,charge-current = <2496000>;
		ti,termination-current = <256000>;
		ti,precharge-current = <128000>;
		ti,minimum-sys-voltage = <3500000>;
		ti,boost-voltage = <5000000>;
		ti,boost-max-current = <1200000>;
		ti,use-ilim-pin;
		ti,thermal-regulation-threshold = <120>;
	};

	bq25892: bq25892 {
		compatible = "ti,bq25892";
		reg = <0x6b>;
		interrupt-parent = <&tlmm>;
		/* edge high-to-low */
		interrupts = <94 0x02>;
		/*interrupts = <94 0x08>;*/

		ti,battery-regulation-voltage = <4192000>;
		ti,charge-current = <2560000>;
		ti,termination-current = <512000>;
		ti,precharge-current = <128000>;
		ti,minimum-sys-voltage = <3500000>;
		ti,boost-voltage = <5000000>;
		ti,boost-max-current = <1200000>;
		ti,use-ilim-pin;
		ti,thermal-regulation-threshold = <120>;
	};

	bq27510: bq27510 {
		compatible = "ti,bq27510";
		reg = <0x55>;
	};
};

&i2c_8 {
	status = "ok";

	id2mpgpio: id2mpgpio@42 {
		compatible = "nxp,pca9575";
		reg = <0x42>;
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&id2mpgpio_int_active>;
		pinctrl-1 = <&id2mpgpio_int_suspend>;

		vcc-supply = <&pm8953_l8>;

		interrupt-parent = <&tlmm>;
		interrupts = <9 0x08>;

		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	id2mpprobei2c: id2mpprobei2c@44 {
		compatible = "id2mp,s700probei2c", "id2mp,probei2c";
		reg = <0x44>;
	};
};

&spi_1 {
	status = "ok";

	pn80t@0 {
		compatible = "nxp,p61";
		reg = <0>;
		spi-max-frequency = <19200000>;
		nxp,p61-rst = <&tlmm 66 GPIO_ACTIVE_LOW>;
	};
};

&spi_6 {
	status = "ok";

	id2mpprobespi: id2mpprobespi@0 {
		compatible = "id2mp,s700probespi", "id2mp,probespi";
		reg = <0>;
		spi-max-frequency = <19200000>;
	};
};
